.x-tabbar.x-docked-bottom .x-tab .x-button-icon.person-icon{background-position: 50% 0;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.user-icon{background-position: 76% 0;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.social-icon{background-position: 26% 0;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.more-icon{background-position: 101% 0;}
.user{background-color:#eee}
